@use 'variables';


#allContent
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    background-color: (variables.$background);
    flex: 1;
    border: 1px solid (variables.$borderColor);
    border-top: 0px;
    border-bottom: 0px;
    width: 100%;
    
}

