
@use 'variables';

.header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  order: 1;
  background-color: (variables.$secondaryBackgroud);

  height: (variables.$header-height);

  border-bottom: 1px solid (variables.$borderColor);


  @include variables.heading((variables.$textColor));


}

