$textColor: #cccbcb;
$background: #020217;
$primary: #1e1a70;
$secondary: #949494;
$secondary_2: #011e2b;
$accent: #008c9e;
$header-height: 10vh;


@mixin textFont {
  font-family: 'Kumbh Sans', 'inter', 'sans-serif';
  font-weight:normal;
  line-height: 130%;

}

@mixin heading ($color){
  @include textFont;
    font-size: 32px;
    color: $color;
}

@mixin med_heading ($color){
  @include textFont;
    font-size: 28px;
    color: $color;
}

@mixin small_heading ($color){
  @include textFont;
    font-size: 24px;
    color: $color;
}

@mixin text ($color){
  @include textFont;
    font-size: 20px;
    color: $color;
}

.navBar
{
  display:  inline-flex;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 2%;
  margin: ($header-height ) 0 0 0 ;
  height: 100vh;
  font-size: large;

  @include text($accent);
  background-color: $secondary_2;
  
  *{
    margin: 2%;
    text-align: center;
  }
}