@use 'variables';




#notesPageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    min-height: 100vh;
    background-color: (variables.$background);

    #searchNoteSection
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 48px 8px 48px 8px;
        border: 1px solid white;

        #searchNoteForm
        {
            display: flex;
            justify-content: stretch;
            background-color: black;
            min-height: 40px;

            *{
                border-radius: 4px;
            }
        
            #searchNoteInput
            {
                min-width: 300px;
                background-color: variables.$greyBackground;
                border: none;
                outline: none;
                @include variables.text(white);
                padding: 2px 8px;
                margin-left: 2px;

               
                

            }

            #searchNoteButton
            {
                border: none;
                outline: none;
                width: 40px;
                text-align: center;
                background-color: variables.$greyBackground;
                transition: background-color 0.2s ease-in-out;

            }
            #searchNoteButton:hover
            {
                background-color: #6e6e6e;
            }

        }

    }


    #newNoteSection
    {
        display: flex;
        justify-content: start;
        align-items: center;
        border: 1px solid white;
        padding: 16px 0;

        #newNoteGen
        {
            min-height: 100px;
            min-width: 400px;
            margin-left: 200px;
            background-color: variables.$greyBackground;
            @include variables.text(white);
            padding: 16px;
            border-radius: 4px;
            resize: none; 

        }
    }

    #existingNotesSection
    {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:stretch;
        flex-wrap: wrap;
        padding: 4px;
        

        .noteContainer
        {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 2px ;
            background-color: variables.$greyBackground;
            min-height: 240px;
            width: 200px;

            .noteNavBar
            {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                height: 24px;
                background-color: #6e6e6e;
            }

            .noteContent
            {
                background-color: variables.$greyBackground;
                padding: 8px 16px;
                @include variables.text(white);
                
                outline: 1px solid white;
                border: none;
                resize: none; 
                overflow: hidden;

                min-height: 200px; /* Set initial minimum height */
                width: 100%; /* Ensure it fills the parent width */
        
                /* Allow content-based growth */
                height: auto; 
            }

        }
    }


}





.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  height: 8px;
  background-size: 70%;
}

.material-symbols-outlined-close {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


::placeholder {
    color: rgba(255, 255, 255, 0.747);
    opacity: 1; /* Firefox */
  }

   /* Only show the placeholder when the div is empty 
#newNoteGen:empty::before {

    content: "New note...";
    @include variables.text(white);
    pointer-events: none; /* This ensures you can still click to edit 

}


#newNoteGen:empty:not([contenteditable="true"])::before {
    content: "Enter some text...";
    @include variables.text(white);
    pointer-events: none;
  }

  
/* Only show the placeholder when the div is empty 
.placeholder-div:empty::before {
    content: "Enter some text...";
    @include variables.text(white);
    pointer-events: none; /* This ensures you can still click to edit 
  }*/