@use 'variables';




#notesPageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    min-height: 100vh;
    background-color: (variables.$background);

    #searchNoteSection
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 48px 8px 48px 8px;
 
        #searchNoteForm
        {
            display: flex;
            justify-content: stretch;
            background-color: black;
            min-height: 40px;

            *{
                border-radius: 4px;
            }
        
            #searchNoteInput
            {
                min-width: 300px;
                background-color: variables.$greyBackground;
                border: none;
                outline: none;
                @include variables.text(white);
                padding: 2px 8px;
                margin-left: 2px;

               
                

            }

            #searchNoteButton
            {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                width: 40px;
                background-color: variables.$greyBackground;
                
                transition: background-color 0.2s ease-in-out;
                

            }
            #searchNoteButton:hover
            {
                background-color: #6e6e6e;
            }

        }

    }


    #newNoteSection
    {
        display: flex;
        justify-content: start;
        align-items: center;
        outline: 1px solid white;
        padding: 16px 0;

        #newNoteGen
        {
            min-height: 100px;
            min-width: 400px;
            margin-left: 200px;
            background-color: variables.$greyBackground;
            @include variables.text(white);
            padding: 16px;
            border-radius: 4px;
            resize: none; 

        }
    }

    #existingNotesSection
    {
        
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items:flex-start;
        flex-wrap: wrap;
        padding: 4px;
        gap: 8px;
        

        .noteContainer
        {
            textarea {
            all: unset; /* ← resets all inherited/built-in styles */
            resize: none; /* optional: disables manual resizing */
            }

            textarea:focus {
            outline: none; /* remove focus border */
            box-shadow: none; /* some browsers apply this */
            border: none; /* remove any default border */
            }
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 8px ;
            background-color: transparent;
            min-height: 240px;
            width: 300px;
            outline: 1px solid gray;
            border-radius: 4px;
            box-shadow: rgb(255, 255, 255) 1px 1px 0px ;

            .noteNavBar
            {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                height: 20px;
                background-color: #6e6e6e;
                button {
                    padding: 0 4px ;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    transition: background-color 0.15s ease-in-out ;
                    font-size: large;
                    line-height: 1;

                };
                button:hover{
                        background-color: rgba(197, 50, 24, 0.815) !important;
                      };
               
            }

            .noteTitle{
                background-color: rgb(24, 24, 24);
                padding: 8px 16px;
                @include variables.text(white);
                border:  1px solid rgb(110, 110, 110);
                resize: none; 
                overflow: hidden;
                
                min-height: 0; /* Set initial minimum height */
                width: 100%; /* Ensure it fills the parent width */                
            }
            .noteContent
            {

                background-color: rgb(12, 12, 12);
                padding: 8px 16px;
                @include variables.text(white);
                
                border: none;
                border-bottom:  1px solid rgb(110, 110, 110);
                resize: none; 
                overflow: hidden;

                min-height: 216px; /* Set initial minimum height */
                width: 100%; /* Ensure it fills the parent width */
        
                /* Allow content-based growth */
                height: auto; 
            }

            .noteContent:focus{
                outline: none;
                border: none;
            }

            .noteMetadata{
                
                background-color: rgb(19, 19, 19);
                padding: 0px;
                height: 40px;
                width: 100%;
                @include variables.small_text(rgba(238, 238, 238, 0.74));
                display: flex;
                justify-content:space-between;
                align-items: stretch;

                .noteMetadataDiv{
                    padding: 0;
                    width: 49%;
                    display: flex;
                    justify-content: center; /* Horizontal */
                    align-items: center;              
                }
            }
            
        }
    }


}

#logout{
    display: block;
    position: fixed;
    top: 40px;
    right: 30px;
    padding: 4px 12px;
    background-color: rgb(129, 129, 129);
    @include variables.text(rgba(0, 0, 0, 0.733));
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;

}
#logout:hover{
    background-color: rgba(255, 255, 255, 0.733);
    @include variables.text(rgb(0, 0, 0));

    transform: scale(1.05);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  background-size: 70%;
  line-height: 1;
  overflow: hidden;
}

.material-symbols-outlined-close {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


::placeholder {
    color: rgba(255, 255, 255, 0.747);
    opacity: 1; /* Firefox */
  }
