@use 'header';
@use 'allContent';
@use 'SignIn';
@use 'SignUp';

@import url('https://fonts.googleapis.com/css?family=Kumbh%20Sans:700|Kumbh%20Sans:400');
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Old%20Hungarian:700|Noto%20Sans%20Old%20Hungarian:400');



$textColor: white;
$background: #020217;
$secondaryBackgroud: rgb(0, 38, 70);
$accent: #008c9e;
$borderColor: #c0c0c0;

$header-height: 64px;


*
{
  overflow: hidden;
}

@mixin textFont {
  font-family: 'Noto Sans Old Hungarian', 'Kumbh Sans', 'inter', 'sans-serif';
  font-weight: 500;
  line-height: 150%;


}

@mixin heading ($color){
  @include textFont;
    font-size: 32px;
    color: $color;
}

@mixin med_heading ($color){
  @include textFont;
    font-size: 24px;
    color: $color;
}


@mixin text ($color){
  @include textFont;
    font-size: 16px;
    color: $color;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root{
    display: flex;
    background-color: rgb(8 , 8, 8);
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding: 0  160px 0 160px;
    color: white;

  }



a{
  text-decoration: none;
  color: inherit;
}
input{
  text-decoration: none;
  color: inherit;
}

#blurryBackground
{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: -1;
    width:90%;
    height: 100%;
    border-radius: 10%;
    background-color: rgb(255, 255, 255,0.1);

}