@use 'navbar';
@use 'header';

@import url('https://fonts.googleapis.com/css?family=Kumbh%20Sans:700|Kumbh%20Sans:400');
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Old%20Hungarian:700|Noto%20Sans%20Old%20Hungarian:400');




$textColor: #cccbcb;
$background: #020217;
$primary: #080450;
$secondary: #949494;
$accent: #008c9e;

$header-height: 90px;





@mixin textFont {
  font-family: 'Noto Sans Old Hungarian', 'Kumbh Sans', 'inter', 'sans-serif';
  font-weight: 500;
  line-height: 130%;


}

@mixin heading ($color){
  @include textFont;
    font-size: 30px;
    color: $color;
}

@mixin med_heading ($color){
  @include textFont;
    font-size: 26px;
    color: $color;
}

@mixin small_heading ($color){
  @include textFont;
    font-size: 22px;
    color: $color;
}

@mixin text ($color){
  @include textFont;
    font-size: 18px;
    color: $color;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: $background;
    margin: ($header-height + 2) 0 0 25vw ;
    padding: 0 3vh;
    color: $secondary;
  }



a{
  text-decoration: none;
  color: inherit;
}