@use 'variables';
@use 'home'; 
@use 'header';
@use 'allContent';
@use 'SignIn';
@use 'SignUp';
@use 'notes';
@use 'messages';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

  }

  
html, body {
  height: 100%; /* Allow content growth */
  min-width: 1000px;
  
}

html{
  /* width */
::-webkit-scrollbar {
  width: 8px;
}
  /* width on hover */
  ::-webkit-scrollbar:hover {
    width: 20px;
  }

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e2e200;
  transition: background-color 1s ease-in-out;
}

/* Handle on hover: */
::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}
}
  
  #root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url(../assets/black-plain-concrete-textured-background.jpg);
    background-color: rgba(0, 0, 24, 0.719);
    background-blend-mode: overlay;
    background-size: 70% 70%;

    min-height: 100%;
    width: 100%;
    padding: 0 120px;
    color: white;

  }



a{
  text-decoration: none;
  color: inherit;
}
input{
  text-decoration: none;
  color: inherit;
}

#blurryBackground
{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: -1;
    width:90%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(175, 21, 21, 0.1);
    
    filter: blur(1px);
    -webkit-filter: blur(1px);

}

